body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-image: url('/Image/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.leaderboard {
    background-color: rgb(191, 103, 44);
    border-radius: 20px;
    border: solid 0.5px;
    width: 600px;
    height: 90vh;
    padding: 20px;
    top: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
}

.inner-leaderboard {
    border: solid 5px;
    border-radius: 15px;
}

.Teks-leaderboard {
    background-color: rgb(27, 39, 85);
    color: white;
    margin: auto;
    padding: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 0px #fff, 2px 2px 0px rgb(34, 2, 141);
    border-bottom: solid 5px black;
}

.top-three {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot {
    background-color: #ffd700;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.spot:hover {
    transform: scale(1.2);
}


.spot.first {
    background-color: #ff6347;
    font-size: 24px;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.inner-spot-first {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    width: auto;
    height: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spot.second {
    background-color: #f4a460;
    width: 500px;
    height: 65px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.inner-spot-second {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    width: auto;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spot.third {
    background-color: #7fffd4;
    width: 500px;
    height: 45px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.inner-spot-third {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    width: auto;
    height: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.remaining {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    top: 10px;
    bottom: 0;
}

.remaining li {
    background-color: whitesmoke;
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 2px 0;
    font-size: 12px;
    font-weight: bold;
    width: 500px;
    height: 10px;;
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remaining li:hover {
    transform: scale(1.05) rotate(-2deg);
    background-color: #ffb6c1;
}

.remaining li::after {
    content: "\1F396";
    margin-right: 10px;
    font-size: 15px;
}
