* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpeg'); /* URL gambar latar belakang */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Background tetap diam */
    background-position: center;
    height: 100vh;
    overflow: hidden; /* Sembunyikan scroll untuk body */
  }
  
  .container {
    margin-top: 8vh;
    width: 100%;
    max-width: 600px;
    height: 80vh; /* Tinggi kontainer agar ada ruang untuk scroll */
    background: rgba(255, 255, 255, 0.3); /* Transparansi */
    backdrop-filter: blur(10px); /* Efek blur */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll; /* Aktifkan scroll hanya pada kontainer */
    box-sizing: border-box;
    scrollbar-width: none; /* Sembunyikan scrollbar di Firefox */
  }
  
  .container::-webkit-scrollbar {
    display: none; /* Sembunyikan scrollbar di Chrome/Edge */
  }
  

.profile-header {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.75vh;
    text-align: center;
}

.profile-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    color: #555;
}

section {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.hero-stats {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.hero {
    width: 45%;
    text-align: center;

}

.hero h3 {
    font-size: 18px;
    color: #333;
}

.hero p {
    font-size: 14px;
    color: #555;
}

.rank-info p {
    font-size: 16px;
    color: #555;
}

.achievements ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.achievements li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.gallery-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.gallery-images img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.status p {
    font-size: 16px;
    color: #555;
}

/* Responsiveness */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-stats {
        flex-direction: column;
    }

    .friends-guild {
        flex-direction: column;
    }

    .gallery-images {
        flex-direction: column;
    }
}
